body {
    background-color: white;
    color: black;
    font-family: "Open Sans", Arial, self-serif;
    font-size: 16px;

}

section {
    overflow: hidden;
}

.container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    color: #ffffff;
    font-size: 70px;
    font-weight: 300;

    text-transform: uppercase;

}

h1 .bold {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -4.2px;
    display: block;
    padding-top: 0.5em;
}

h1 .small {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: -2.4px;

}

h2 {
    display: inline-block;
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
    border-right: 5px solid #f39c12;
    padding-right: 20px;
    margin:0;
}

header {
    position: absolute;
    top: 84px;
    left: 0;
    right: 0;
    z-index: 99;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu-toggle{
    display:none;
}
.logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 4px solid #ffffff;
    color: #ffffff;
    font-size: 50px;
    line-height: 45px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 50%;
}

.logo a:hover {
    color: #f39c12;
}

.slick-initialized .slick-slide {
    display: none;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu__item {
    margin-left: 90px;
    position: relative;
}

.menu__item:after {
    content: "\\\\";
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    position: absolute;
    left: 100%;
    margin-left: 40px;
    top: 0;
}

.menu__item:last-child:after {
    display: none;
}

.menu__link {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

.menu__link:hover {
    color: #f39c12;

}

#banner {
    box-sizing: border-box;
    padding-top: 350px;
    padding-bottom: 30px;
    text-align: center;
    background: url(../img/junior.png) no-repeat center top;
    min-height: 900px;
    background-attachment: fixed;
    position: relative;

}

#banner::after {
    position: absolute;
    content: " ";
    display: block;
    left: -5%;
    bottom: -30px;
    transform: rotate(2deg);
    width: 110%;
    height: 80px;
    background: white;

}

.btn {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Open Sans', Arial, sans-serif;
    border: 2px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 35px;
}

.btn:hover {
    background-color: #f39c12;
    color: #ffffff;
    text-decoration: none;
    border-color: #f39c12;
}

.title {
    padding-bottom: 50px;
    padding-top: 80px;
}

.about-block {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 50px;
    float: left;
}

.about-block.second-block {
    float: right;
    width: 70%
}

.about-block__text {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.clearfix {
    clear: both;
}

.my-photo {
    max-width: 133px;
    max-height: 133px;
    border: 4px solid lavender;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 25px;
    flex: none;
    margin-right: 20px;
}

.my-photo img {
    display: flex;
    border-radius: 50%;
    width: 100%;
}

.about-block__text p {
    color: #595959;
    font-weight: 400;
    line-height: 28px;
    font-size: 16px;

}

.about-block__icon {
    border-radius: 50%;
    border: 4px solid lavender;
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    margin-right: 29px;
    font-size: 40px;

}

.about-block__image {
    background-color: red;
    width: 40%;
}

.bar-box {
    width: 100%;
    background: darkgray;
    height: 10px;
}

.tab-list {
    list-style: none;
    width: 100%;
    display: flex;
    padding: 0;
}

.tab-list__item {
    display: flex;
    justify-content: space-between;

}

/*skills*/

.skills-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    padding-top: 30px;
}

.skills-block__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.skills-block__item img {
    width: 50px;
    height: 50px;
}

.inside_line, #line-html {
    width: 1%;
    height: 20px;
    background-color: #f39c12;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;

}

.percents {
    font-size: 12px;
    color: white;
    padding: 3px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
}

#skills {
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    background: url(../img/junior.png) no-repeat center top;
    background-attachment: fixed;
    position: relative;
}

#skills::before {
    position: absolute;
    content: " ";
    display: block;
    left: -5%;
    top: -50px;
    transform: rotate(2deg);
    width: 110%;
    height: 80px;
    background: white;

}

#skills::after {
    position: absolute;
    content: " ";
    display: block;
    left: -5%;
    bottom: -30px;
    transform: rotate(2deg);
    width: 110%;
    height: 80px;
    background: white;

}

#skills h2 {
    color: white;
}

#clear {
    clear: both;
}

.line {
    width: 90%;
    height: 20px;
    background: rgba(134, 134, 134, .5);

}

/*works*/

#works {
    height: 900px;
}

.portfolio-slider {
    display: none;
!important;
}

.portfolio {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.portfolio_list_item {
    width: 25%;
    position: relative;

}

.portfolio_list_item:hover .portfolio_list_preview {
    display: block;
}

.portfolio_list_item:hover .portfolio_icon {
    display: none;
}

.portfolio_list_item:hover .portfolio_list_title {
    color: #f39c12;
}

.portfolio_list_img img {
    display: block;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    transition: opacity 0.4s;
}

.portfolio_list_item:hover .portfolio_list_img img {
    opacity: 0.6;
}

.portfolio_list_item:hover .portfolio_list_img {

}

.portfolio_list_link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.portfolio_list_img {
    height: 220px;
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;

}

.portfolio_list_item:nth-child(2) .portfolio_list_img,
.portfolio_list_item:nth-child(4) .portfolio_list_img,
.portfolio_list_item:nth-child(5) .portfolio_list_img,
.portfolio_list_item:nth-child(7) .portfolio_list_img {
    background-color: lightgrey;
}

.portfolio_list_text {
    color: #0d0d0d;
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 22px;
    text-align: center;

}

.portfolio_list_title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}

.portfolio_list_describe {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0 15px;
}

.portfolio_list_preview {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 99px;
    height: 99px;
    background: #f39c12 url('../img/plus.png') center no-repeat;
    opacity: 0.5;
    border-radius: 50%;
    display: none;
    transform: translate(-50%, -50%);
    z-index: 3;

}

/*footer*/

/*form*/

.form-field {
    position: relative;
    margin-bottom: 10px;
}

.form-field__icon {
    position: absolute;
    top: 15px;
    right: 30px;
    width: 20px;
    text-align: center;
    color: #808080;
    font-size: 16px;
    transition: all 0.3s;
}

.form-field__icon .icon-mail {
    font-size: 12px;
}

.form-control {
    display: block;
    padding: 0 70px 0 25px;
    width: 100%;
    height: 45px;
    border: 2px solid #d9d9d9;
    background-color: #ffffff;
    color: #808080;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    transition: all 0.3s;
    box-sizing: border-box;
}

.form-control:focus {
    border-color: #f39c12;
}

.form-control:focus + .form-field__icon {
    color: #f39c12;
}

textarea.form-control {
    min-height: 125px;
    resize: none;
    padding-top: 10px;
}

/* Contact ==========================================*/
#contact {
    box-sizing: border-box;
    background: url(../img/junior.png) no-repeat center top;
    background-attachment: fixed;
    position: relative;
    padding-bottom: 40px;

}

#contact::before {
    position: absolute;
    content: " ";
    display: block;
    left: -5%;
    top: -50px;
    transform: rotate(2deg);
    width: 110%;
    height: 80px;
    background: white;

}

#contact h2 {
    color: white;

}

.contact-wrap {
    display: flex;
}

.contact-wrap .contact-form {
    padding-top: 8px;
}

.contact-wrap__left {
    width: 53%;
}

.contact-wrap__right {
    width: 47%;
    flex-shrink: 47%;
    padding-left: 60px;
}

.contact-wrap h6 {
    margin-bottom: 28px;
}

.contact-wrap p {
    margin-bottom: 35px;
}

.contact-list {
    list-style: none;
    padding: 0;
    margin: 40px auto;
}

.contact-list__item {
    position: relative;
    margin-top: 20px;
    padding-left: 50px;
    color: white;
    line-height: 25px;
    letter-spacing: -0.32px;

}

.contact-list__item a {
    color: white;
}

.contact-list__item a:hover {
    text-decoration: none;
    color: #f39c12;
}

.contact-list__icon {
    position: absolute;
    left: 0;
    top: -4px;
    width: 34px;
    height: 34px;
    border: 2px solid #f39c12;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-list__icon img {
    width: 25px;
}

h6 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
}




.hidden {
    visibility: hidden;
}

@media screen and (max-width: 699px) {

    body {
        background-color: white;
        color: black;
        font-size: 14px;

    }

    .title {
        padding-bottom: 20px;
        padding-top: 50px;
    }



    .menu {

        display: none;
        position: absolute;
        right: 15px;
        top:70%;
        background-color: #8c8c8c;
        padding: 10px 20px 0 ;
        transform: rotate(3deg);


    }



    .menu.active {
        display: block;
        flex-direction: column;
        width: 40%;
        padding: 0;
    }

    .menu-toggle{
        display: inline-block;
        border: 0;
        background-color: transparent;
        padding: -5px;
    }

    .menu-toggle span {
        height: 2px;
        width: 37px;
        background-color: white;
        display: block;

    }

    .menu-toggle span+span{
        margin-top: 12px;
    }

    .menu__item{
        padding-bottom: 10px;
        margin-left: 0;
     }

    .menu__item:after{
     display: none;
}




    .blur{
        filter: blur(5px);
    }

    .line {
        fill:none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke:white;
        stroke-width:4;
        stroke-linecap:round;
    }

    .ham {
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .ham3 .top {
        stroke-dasharray: 40 130;
    }
    .ham3 .middle {
        stroke-dasharray: 40 140;
    }
    .ham3 .bottom {
        stroke-dasharray: 40 205;
    }
    .ham3.active .top {
        stroke-dasharray: 75 130;
        stroke-dashoffset: -63px;
    }
    .ham3.active .middle {
        stroke-dashoffset: -102px;
        stroke: #f39c12;
    }
    .ham3.active .bottom {
        stroke-dasharray: 110 205;
        stroke-dashoffset: -86px;

    }
    .logo a {
        width: 60px;
        height: 60px;
        border: 2px solid #ffffff;
        font-size: 16px;
    }

    #banner {
        padding-top: 100px;
        min-height: 500px;
        transition: filter 0.6s;
    }

    h1 {
        margin-top: 50px;
    }

    header {
        top: 40px;
    }

    .about-block {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 50px;
        align-items: center;
    }

    .about-block__text {

        width: 90%;
        text-align: justify;
        margin: 0 auto;
    }

    .about-block.second-block {
        float: none;
        width: 100%;
        margin: 0 auto;
    }

    .about-block__icon, .my-photo {
        margin: 15px auto;
    }

    .portfolio {
        display: none;
    }

    .portfolio-slider {
        display: block;
    }

    .slick-initialized .slick-slide {
        display: block;
    }

    .contact-wrap {
        display: flex;
        flex-direction: column;
    }

    .contact-wrap__left {
        width: 100%;
    }

    .contact-wrap__right {
        width: 100%;
        padding: 0;
    }

    #works {
        height: 1150px;
    }

    h1 {
        font-size: 26px;
    }

    h1 .bold {
        font-size: 26px;
        font-weight: 400;
        letter-spacing: 0;
    }

    h1 .small {
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0;
    }

    .contact-wrap h6 {
        margin-top: 30px;
    }

    #skills{
        height: 400px;
    }

    .contact-list__icon {
        position: absolute;
        left: 0;
        top: 2px;
        width: 20px;
        height: 20px;
        border: 2px solid #f39c12;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-list__icon img {
        width: 10px;
    }

    .contact-list__item {
        margin-top: 10px;

    }
}